<div ng-controller="NavigationCtrl" class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" ui-sref="home">Angular Scaffold</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li ng-class="{active: $state.includes('{{item.state}}')}"
                    ng-repeat="item in navItems">
                        <a ui-sref="{{item.sref}}">
                            <span ng-show="item.icon" class="glyphicon {{item.icon}}"></span> {{item.title}}
                        </a>
                </li>
            </ul>
        </div>
    </div>
</div>
