<div ng-controller="HeaderCtrl" class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#home">Angular Scaffold</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li ng-class="(item.index === currentRoute.index) ? 'active' : ''"
                    ng-repeat="item in navItems">
                        <a href="{{item.hash}}">
                            <span ng-show="item.icon" class="glyphicon {{item.icon}}"></span> {{item.title}}
                        </a>
                </li>
            </ul>
        </div>
    </div>
</div>
